.img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
}

.container {
  display: inline-block;
  height: 40px;
  width: 80px;
  padding: 5px 10px;
  background-color: #ffffff;
  margin: 2px;
  border-radius: 10px;
}
