.card {
  background-color: var(--foreground);
  border-radius: 1.5em;
  padding: 10px 0px;
  text-align: center;
  width: 300px;
  margin: 10px auto 10px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.item {
  background-color: var(--light-grey);
  border-radius: 10px;
  cursor: pointer;
  display: block;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  will-change: font-size;
  transition: font-size 0.2s;
}

.item:hover {
  font-size: 2em;
}