.bottom {
  background: var(--foreground);
  padding: 20px 0px;
}

.sectionSelect {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 10px;
}

.sectionTitle {
  flex: 1;
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
}
