.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  max-width: 100%;
}

@media screen and (min-width: 992px) {
  .container {
    flex-direction: row;
    margin-bottom: 60px;
  }

  .container:nth-of-type(odd) {
    flex-direction: row-reverse;
  }

  .container:nth-of-type(even) .info {
    margin-left: 30px;
  }

  .container:nth-of-type(odd) .info {
    margin-right: 30px;
  }

  .techTag:first-of-type:after,
  .techTag + .techTag:not(:last-of-type):after {
    color: var(--color-secondary-text);
  }
}

.title {
  color: var(--color-primary-bg);
  font-size: 1.5em;
  display: flex;
}

.titleText {
  flex: 1;
  margin-bottom: 5px;
}

.description {
  flex: 1;
}

.description a {
  color: var(--color-primary-bg);
  text-decoration: underline;
}

.analytics {
  color: var(--color-secondary-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.1em;
}

.analyticsIcon {
  margin-right: 0.3em;
}

.github {
  filter: var(--icon-invert);
}

.image {
  text-align: center;
  margin-bottom: 10px;
}

.imageLink {
  display: inline-block;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 5px;
}

.techContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

.techTag {
  text-transform: uppercase;
  margin-right: 5px;
  line-height: 1.3em;
}

.techTag:first-of-type:after,
.techTag + .techTag:not(:last-of-type):after {
  margin-left: 5px;
  font-size: 1.3em;
  content: "|";
  color: var(--color-primary-bg);
  font-weight: bold;
}
