.row {
  display: flex;
  align-items: center;
}

.ghIcon {
  margin-right: 5px;
}

.linkIcon {
  margin-left: 5px;
  font-size: 0.8em;
}

.title {
  font-size: 24px;
}

.description {
  margin-top: 5px;
  margin-bottom: 10px;
}
