.wrapper {
  margin: 20px 0px;
}

.row {
  display: flex;
  align-items: center;
}

.ghIcon {
  margin: 0px 5px;
}

.linkIcon {
  font-size: 0.8em;
}

.title {
  font-size: 24px;
}

.description {
  margin-top: 5px;
  margin-bottom: 10px;
}
