.card,
.readMore {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.readMore {
  justify-content: flex-end;
  align-items: center;
}

.readMoreArrow {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 72px;
}

.cardTop {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.cardTitle {
  font-size: 28px;
  font-weight: 600;
}

.cardReadingTime {
  font-weight: normal;
  flex: 1;
}

.cardDatetime {
  font-weight: normal;
}

.draft {
  font-weight: bold;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  transform: rotate(-45deg);
  font-size: 40px;
  opacity: 0.5;
  text-transform: uppercase;
}
