.face {
  margin: 0 auto;
  border-radius: 50%;
  height: 150px;
  margin-top: 4vh;
  margin-bottom: 1vh;
}

.p {
  margin-bottom: 20px;
}

.containerBottom {
  margin-bottom: 40px;
}

.company {
  border-radius: 50%;
  height: 150px;
  margin: 0 auto;
}

.timelineContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 100%;
}

@media screen and (min-width: 992px) {
  .timelineContainer {
    flex-direction: row;
    margin-bottom: 10px;
  }

  .company {
    margin: 0;
  }
}

.timelineInfo {
  flex: 1;
  margin: 20px;
}

.timelineTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timelineTitleText {
  color: var(--color-primary-bg);
  flex: 1;
  font-size: 1.5em;
}
