.search {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-primary-bg);
  color: var(--color-text);
  outline: none;
  font-size: 20px;
  padding: 5px 10px;
  margin: 20px 0px 0px 0px;
  width: 100%;
}

.searchTrim {
  transform: scaleY(0.3);
  height: 50px;
  position: relative;
  top: -20px;
  margin-bottom: -30px;
  width: 100%;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.tag {
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--color-secondary-text);
  cursor: pointer;
  margin: 5px;
  outline: none;
}

.tag.active {
  color: var(--color-primary-bg);
}

@media screen and (min-width: 992px) {
  .tag:hover {
    color: var(--color-primary-bg);
  }
}
