.container {
  max-width: 800px;
  padding: 0px 10px;
  margin: 0 auto;
}

.contentHeader {
  color: var(--color-secondary-text);
  font-size: 2rem;
  line-height: 4rem;
}

.utilHideOnDesktop {
  display: var(--mobile-only-display);
}

.mobileDesc {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  margin: 15px 0px 10px 0px;
}
