.container {
  position: relative;
  padding: 16px;
}

.leftLine {
  border-right: 2px solid var(--code-bg);
  left: 32px;
  position: absolute;
  top: 16px;
  height: calc(100% - 32px);
  z-index: 1;
}

.itemsContainer {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.item {
  padding: 0px;
  margin-bottom: 15px;
  will-change: font-size;
  transition: font-size 0.2s;
}

@media (min-width: 800px) {
  .item {
    margin-bottom: 8px;
  }
}

.item:hover {
  font-size: 1.5em;
}

.item:hover .circle {
  height: 64px;
  width: 64px;
  margin-left: -16px;
}

.item:hover .description {
  margin-left: 64px;
}

.circleAndTitle {
  align-items: center;
  display: flex;
}

.circle {
  background-color: var(--code-bg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 9999px;
  height: 32px;
  width: 32px;
  will-change: height, width, margin-left;
  transition: height 0.2s, width 0.2s, margin-left 0.2s;
  z-index: 2;
}

.title {
  flex: 1;
  margin-left: 8px;
}

.description {
  margin-left: 48px;
  will-change: margin-left;
  transition: margin-left 0.2s;
}
