.p {
  font-size: 20px;
  line-height: 24px;
  margin: 10px 0px;
}

.p + .p {
  margin-top: 1em;
}

.headingA {
  text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  border-left-style: solid;
  border-left-color: var(--red);
  padding: 10px 0px 10px 10px;
  margin: 0.8em 0 0.2em 0;
}

.h1:hover::before,
.h2:hover::before,
.h3:hover::before,
.h4:hover::before,
.h5:hover::before,
.h6:hover::before {
  content: "🔗";
  position: absolute;
  left: -45px;
}

.h1 {
  font-size: 2em;
  border-left-width: 5px;
}

.introductionHeading {
  display: none;
}

.h2 {
  font-size: 1.8em;
  border-left-width: 10px;
}

.h3 {
  font-size: 1.6em;
  border-left-width: 15px;
}

.h4 {
  font-size: 1.4em;
  border-left-width: 20px;
}

.h5 {
  font-size: 1.2em;
  border-left-width: 25px;
}

.h6 {
  font-size: 1em;
  border-left-width: 30px;
}

.a {
  color: var(--link);
  text-decoration: underline;
  font-weight: bold;
  text-decoration-color: var(--red);
  will-change: color;
  transition: color 0.2s;
}

.a:hover {
  color: var(--red);
}

.blockquote {
  position: relative;
  background-color: var(--code-bg);
  padding: 10px 30px;
  border-top: 2px solid var(--red);
  margin: 35px 20px 20px 20px;
}

.blockquoteIcon {
  position: absolute;
  left: -25px;
  top: -25px;
  height: 49px;
  width: 49px;
  background-color: var(--code-bg);
  border: 5px solid var(--foreground);
  border-radius: 50%;
}

.blockquoteIconInner {
  border: 2px solid var(--red);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
