@font-face {
  font-family: SourceSansPro;
  src: url(/fonts/SourceSansPro-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: SourceSansPro;
  src: url(/fonts/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: SourceSansPro;
  src: url(/fonts/SourceSansPro-Semibold.otf);
  font-weight: 600;
}
