@import "reset.css";
@import "variables.css";
@import "fonts.css";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--code-bg);
  background-image: url(/images/graphy-dark.png);
  color: var(--text);
  font-family: SourceSansPro, Arial, Helvetica, sans-serif;
}

a {
  color: var(--link);
  text-decoration: none;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

ol,
ul {
  padding: 5px 25px;
  list-style-type: square;
}

li {
  padding: 2px 0px;
}

img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

p > code {
  background-color: var(--code-bg);
  padding: 2px 5px;
  border-radius: 5px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 0.8em;
}
