@import 'reset.css';
@import 'variables.css';
@import 'fonts.css';

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  background-image: url(/images/graphy-dark.png);
  color: var(--text);
  font-family: SourceSansPro, Arial, Helvetica, sans-serif;
}

a {
  color: var(--link);
  text-decoration: none;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6, em {
  font-weight: bold;
}

ol, ul {
  padding: 5px;
  list-style-type: square;
  list-style-position: inside;
}
