:root {
  --background: #222222;
  --foreground: #1f1f1f;
  --dark: #0b0d0e;
  --light-grey: #45464f;
  --mid-grey: #363639;
  --input-bg: #26272b;
  --blue: #1648ff;
  --red: #fd015d;
  --yellow: #ffbe26;
  --text: #ffffff;
  --link: #ffffff;
  --code-bg: #2a2a2a;

  --border-radius-outer: 2em;
  --border-radius-inner: 2.5em;

  --linkedin-blue: #2867b2;
  --github-grey: #f6f8fa;
  --email: #ffbe26;
}
